<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Cart</h1>

<div style="display: flex; flex-direction: row; flex-gap: 8px">
    <div class="card" style="width: 18rem;" th:each="product: ${cart}">
        <div class="card-body">
            <h5 class="card-title" th:text="${product.name}">Card title</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">$<span th:text="${product.price}"></span></h6>
            <p class="card-text" th:text="${product.description}"></p>
            <a th:href="'/products/'+${product.slug}" class="card-link">Go to product</a>
            <button th:hx-delete="'/cart/'+${product.sku}" hx-swap="none" class="btn btn-primary">Remove product from cart</button>
        </div>
    </div>
</div>
</body>
</html>