<!DOCTYPE html>
<html th:fragment="layout (title, content)" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:replace="${title}">Ye Shoppe</title>
    <meta th:replace="~{fragments/head :: head}"></meta>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="p-4">
    <div th:replace="${content}"></div>
</div>

<div id="content" th:replace="~{fragments/head :: body}"></div>

<footer>
    7c4f785315f523e35f3c5d1f81306473e75508dc
</footer>
</body>
</html>